<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Insecure Website</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/site.css" />
	@RenderSection("Styles", required: false)
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">Insecure Website</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav ml-auto">
						@{
							var user = Html.GetCurrentUser(this.Context.Request);
						}
						@if (user.IsAuthenticated)
						{
							<li class="navbar-text">
								Welcome @user.Username
							</li>
							if (user.IsAdmin)
							{
								<li class="navbar-text">
									Admin
								</li>
							}
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
							</li>
						}
						else
						{
							<li class="navbar-text">
								Please login
							</li>
						}
					</ul>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Login0" asp-action="Index">Login0</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Login1" asp-action="Index">Login1</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Login2" asp-action="Index">Login2</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Login3" asp-action="Index">Login3</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="LoginFixed" asp-action="Index">LoginFixed</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Home" asp-action="Hints">Hints</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<div class="alert alert-danger" role="alert">
				This is an example of an insecure site. Do not use this code in production.
			</div>
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2019 Richardson &amp; Sons, LLC, License: MIT
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous"></script>
	<script src="/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
