
<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This example site shows vulnerabilities in SQL Injection and XSS Injection</p>
	<p>Try the different login methods and see if you can break things</p>
</div>

<div class="row">
	<div class="col">
		<h1>Hint</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<p>Try these:</p>
		<ul>
			<li><code>' and 1=1;--</code></li>
			<li><code>&lt;script&gt;alert('pwned')&lt;/script&gt;</code></li>
			<li><code>\u0027</code></li>
			<li>Look at the cookie</li>
			<li>How can you run an update statement?</li>
		</ul>
	</div>
</div>
