<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This example site shows vulnerabilities in SQL Injection and XSS Injection</p>
    <p>Try the different login methods and see if you can break things</p>
</div>
